# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Zookeeper with Python/*
!/Zookeeper with Python/task/
/Zookeeper with Python/task/*
!/Zookeeper with Python/task/zookeeper
